@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&display=swap');

/* =================================================== General Body */

body {
    font-family: 'Dosis', sans-serif!important;
    color: #eee!important;
    background-color: #222!important;
}

ul {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h6 {
    font-family: 'Oxygen', sans-serif;
}

/* =================================================== Game Title */
#game-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

/* =================================================== Game Squares */

.square {
    height: 150px;
    width: 150px;
    opacity: 0.5;
    display: inline-block;
}

#square-1 {
    background-color: red;
}

#square-2 {
    background-color: blue;
}

#square-3 {
    background-color: green;
}

#square-4 {
    background-color: yellow;
}

.square.active {
    opacity: 1;
    box-shadow: 2px 2px 4px 0px black;
}

#game-square {

}

/* =================================================== Game Window */

#game-window {
    text-align: center;
}

/* =================================================== Game Indicators */
#user-indicators {
    margin-bottom: 0.75rem;
}

/* =================================================== Game Instruction */

#user-instruction {
    font-family: 'Inconsolata', monospace;
    margin-bottom: .75rem;
}

/* =================================================== Start Game */

#start-game {
    margin-bottom: 0.75rem;

}
